.submit-btn {
  color: #fff;
  border: none;
  margin: 10px 0;
  padding: 15px 25px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ff0000;
}
.submit-btn:hover {
  background-color: black;
  border: none;
  color: white;
}
.input-border {
    height: 20px !important;
}
.text-border:focus {
  border: 1px solid black;
}
