.testimonial-title-top {
  font-size: 30px;
}
.testimonial-title {
  font-size: 40px;
}

.testimonial-profile {
  padding: 70px 10px 10px;
  background-color: rgb(255, 252, 248);
}
.testimonial-profile:hover {
  color: white;
  background: red;
  background: -webkit-linear-gradient(top left, red, #e8337b);
  background: -moz-linear-gradient(top left, red, #e8337b);
  background: linear-gradient(to bottom right, red, #e8337b);
}
.testimonial-profile img {
  margin-top: -130px;
  position: absolute;
  border: 10px solid #ffff;
  margin-left: -60px;
}
.testimonial-img-style {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
