.footer-main {
  background-color: #171422;
  padding-top: 60px;
  color: #fff;
}
.logo-style{
  color: #fff;
  text-decoration: none;
}
.logo-style:hover{
  color: red;
}
.icon-link {
  color: white;
  padding: 10px;
  background-color: red;
  border-radius: 100%;
  margin: 10px;
  font-size: 25px;
  width: 50px;
  height: 50px;
}
.icon-link:hover {
  color: red;
  background-color: white;
}
.footer-bottom{
  color: red;
  text-decoration: none;
}
.footer-bottom:hover{
  color: rgb(207, 67, 67);
}
