.full-home-movie {
  background-color: #171422;
  padding: 60px 0px;
}
.movie-slider .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.452);
  padding: 25px;
  border-radius: 100%;
  color: white;
}
.movie-slider .swiper-button-next:hover {
  background-color: red;
}
.movie-slider .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.452);
  padding: 25px;
  border-radius: 100%;
  color: white;
}
.movie-slider .swiper-button-prev:hover {
  background-color: red;
}
.movie-link-not-style {
  color: white;
  text-decoration: none;
}
.movie-link-not-style:hover {
  color: white;
}
.movie-release-year {
  color: red !important;
}
.home-title-top {
  font-size: 30px;
}
.home-title {
  font-size: 40px;
}
.movie-image {
  border-radius: 15px;
  height: 500px;
}
.movie-name {
  font-size: 18px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  padding-top: 15px !important;
}
