/* font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.font-dancing {
  font-family: "Dancing Script", cursive;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}
.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.color-red {
  color: red;
}
.color-sky{
    color: #48c0bf;
}
.font-bold{
    font-weight: bold;
}

/* @media screen and (max-width: 320px) and (min-width: 480px) {
  
} */
/* @media screen and (max-width: 481px ) and (min-width: 768px) {
  
} */
/* @media screen (max-width: 550px ) {
  
} */
/* @media screen and (max-width: 769px ) and (min-width: 1024px) {
  
} */
/* @media screen and (max-width: 1000px ) and (min-width: 1024px) {
  
} */
/* @media screen and (max-width: 1025px ) and (min-width: 1200px) {
  
} */
